.resume-entry-technology-heading {
  display: block;
  margin-top: 2em;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.resume-entry-position-dates {
  margin-left: 16px;
}

.resume-entry-technologies {
  line-height: 2em;
  margin-bottom: 2em;
}

.resume-entry-technology-list {
  list-style: none;
  line-height: 2em;
  margin: 0;
  padding: 0;
}

.resume-entry-technology {
  display: inline-block;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 8px;
  background-color: var(--white);
  border: 1px solid var(--darker-gray);
  border-radius: 2px;
  margin-right: 8px;
}

.resume-entry-work-samples-link {
  margin-top: 2em;
}

@media only screen and (max-width: 600px) {
  .resume-entry-position {
    margin-bottom: 1em;
  }

  .resume-entry-position-dates {
    margin-left: 0;
    display: block;
  }
}
