.work-sample-image-link {
  display: block;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.work-sample-image-link img {
  display: block;
  width: 100%;
}

.work-sample-image-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--nearly-black);
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transform: scale(2.0);
  transform-origin: center;
  transition: all 150ms ease-out;
  pointer-events: none;
  user-select: none;
}

.work-sample-image-hover-text {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px #FFFFFF;
}

.work-sample-image-link:hover .work-sample-image-hover {
  opacity: 1;
  transform: scale(1.0);
}

@media (hover: none) {
  .work-sample-image-link .work-sample-image-hover {
    display: block;
    top: 8px;
    right: 8px;
    left: auto;
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 1px solid var(--darker-gray);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    opacity: 1;
    transform: scale(1.0);
    transition: none;
  }

  .work-sample-image-link .work-sample-image-hover svg {
    max-width: 100%;
    max-height: 100%;
  }

  .work-sample-image-link .work-sample-image-hover-text {
    display: none;
  }
}
