.work-sample h4 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.work-sample-employer-and-date {
  display: block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--darker-gray);
}

.work-sample-media-group-container {
  margin: 48px auto 0 auto;
}

.work-sample-media-group {
  display: flex;
}

.work-sample-media {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 32px;
  position: relative;
}

div.work-sample-media:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 600px) {
  .work-sample-media-group {
    display: block;
  }

  .work-sample-media {
    margin-top: 2em;
    margin-right: 0;
  }
}
