#page-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-blue);
  border-bottom: 8px solid var(--accent-blue);
  padding-top: 8px;
  padding-right: var(--safe-area-padding-right);
  padding-bottom: 8px;
  padding-left: var(--safe-area-padding-left);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  color: var(--white);
  z-index: 1;
  user-select: none;
}

#logo {
  font-family: var(--logo-typeface);
  font-size: 32px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

#tagline {
  display: block;
  font-family: var(--body-typeface);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#main-nav {
  display: flex;
  align-items: center;
}

#main-nav a {
  margin-right: 24px;
  font-family: var(--body-typeface);
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--white);
}

#main-nav a.active {
  font-weight: 700;
  padding-bottom: 2px;
  border-bottom: none;
}

#main-nav a:last-of-type {
  margin-right: 0;
}

#main-nav a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--accent-blue);
}

#main-nav a.active:hover {
  padding-bottom: 0;
}

@media only screen and (max-width: 750px) {
  #logo {
    font-size: 24px;
  }

  #tagline {
    font-size: 10px;
  }

  #main-nav a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  #page-header {
    justify-content: center;
    border-bottom-width: 4px;
  }

  #logo {
    font-size: 24px;
    text-align: center;
  }
}
