#mobile-nav {
  flex-shrink: 0;
  display: flex;
  border-top: 2px solid var(--lighter-gray);
}

#mobile-nav a {
  width: 0; /* Enables equal width columns with flexbox */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-typeface);
  font-weight: 400;
  font-size: 3vw;
  text-transform: uppercase;
  color: var(--darkest-gray);
  text-align: center;
  text-decoration: none;
  padding: 4px 4px 8px 4px;
  background-color: var(--white);
  border-top: 4px solid transparent;
  box-sizing: content-box;
}

#mobile-nav a:last-of-type {
  border-right: none;
}

#mobile-nav a.active {
  background-color: var(--main-blue);
  border-top: 4px solid var(--accent-blue);
  color: var(--white);
}
