.h1-404 {
  display: block;
  font-family: var(--monospaced-typeface);
  font-size: 6em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .h1-404 {
        font-size: 3em;
    }
}
